@font-face {
  font-family: "iranYekan";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Qs_Iranyekan\ light.ttf");
}

@font-face {
  font-family: "iranYekan";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Qs_Iranyekan\ bold.ttf");
}