<section class="contact container">
  <div class="contact__head">
    <h2>ارتباط با ما</h2>

    <h3>شما می‌توانید نظرات و انتقادات خود را برای ما بفرستید</h3>
  </div>

  <div class="contact__body">
    <div class="contact__info">
      <div class="companies">
        <div class="icon--container">
          <svg class="icon">
            <use xlink:href="./assets/images/svg-sprite.svg#facebook"></use>
          </svg>
        </div>
        <div class="icon--container">
          <svg class="icon">
            <use xlink:href="./assets/images/svg-sprite.svg#linkedin"></use>
          </svg>
        </div>
        <div class="icon--container">
          <svg class="icon">
            <use xlink:href="./assets/images/svg-sprite.svg#twitter"></use>
          </svg>
        </div>
      </div>

      <div class="contact__map">
        <img src="./assets/images/map.png" alt="">
      </div>

      <div class="methods">
        <div class="methods__method">
          <div class="icon--container">
            <svg class="icon">
              <use xlink:href="./assets/images/svg-sprite.svg#location"></use>
            </svg>
          </div>
          <span>ایران - بوشهر - بندر بوشهر - کوی بهمنی </span>
        </div>
        <div class="methods__method">
          <div class="icon--container">
            <svg class="icon">
              <use xlink:href="./assets/images/svg-sprite.svg#mobile"></use>
            </svg>
          </div>
          <span>+989182451234</span>
        </div>
        <div class="methods__method">
          <div class="icon--container">
            <svg class="icon">
              <use xlink:href="./assets/images/svg-sprite.svg#mail"></use>
            </svg>
          </div>
          <span>info@fronthooks.ir</span>
        </div>
      </div>
    </div>

    <div class="contact__form">
      <h3>نظرات شما</h3>

      <form action="" method="post">
        <input type="text" name="" id="" placeholder="موضوع">
        <input type="email" name="" id="" placeholder="آدرس ایمیل">
        <textarea name="" id="" cols="30" rows="10" placeholder="پیام شما"></textarea>
        <button class="btn btn--primary">ارسال</button>
      </form>
    </div>
  </div>
</section>