<section class="feature container">
  <div class="content">
    <h2>خدمات تپسی برای کسب و کارها</h2>
    <p>نامز‌مه تساوخرد ناکما یگداس هب هک تسا بو تحت هناماس کی ،یسپت ینامزاس لنپ
      اب و .دنک‌یم مهارف اه‌نامزاس و اهراکو‌بسک یارب ار کیپ و وردوخ یدودحمان دادعت
      یگداس هب ار دوخ یاهالاک لاسرا و یرهش‌نورد یاه تیرومام دیناوت‌یم نآ زا هدافتسا
      .دینک تیریدم </p>
    <button class="btn btn--primary">ورود و ثبت نام</button>
  </div>
  <div class="feature__img">
    <img src="./assets/images/i-mac 1.png" alt="imac">
  </div>
</section>

<section class="feature feature--reverse container">
  <div class="content">
    <h3>خرید کد اعتبار تپسی</h3>
    <p>ای رابتعا دک ،ناشرظن دروم غلبم و دادعت هب دنناوت‌یم اه‌نامزاس و اهراکو‌بسک ،ناربراک
      زا و دننک هدافتسا ناشنایرتشم ای و لنسرپ ،دوخ یارب ،هدرک هیهت یسپت فیفخت دک
      .دنوش دنم‌هرهب زین یسپت هژیو یاه‌فیفخت
      .دنراد ار غلبم و دصرد ،نامز ،دصقم ،ادبم ساسا رب یزاس‌یشرافس ناکما اهدک نیا</p>
    <button class="btn btn--primary">ورود و ثبت نام</button>
  </div>
  <div class="feature__img">
    <img src="./assets/images/macbook 1.png" alt="macbook">
  </div>
</section>