<footer>
  <section class="footer container">
    <div class="sub-footer sub-footer--brand">
      <img src="./assets/images/Logo.png" alt="logo" class="logo">
      <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed
        massa non nisi, placerat.</p>

      <div class="medias">
        <div class="icon--container">
          <img src="./assets/images/instagram-white.svg" alt="" class="icon">
        </div>
        <div class="icon--container">
          <img src="./assets/images/web-white.svg" alt="" class="icon">
        </div>
        <div class="icon--container">
          <img src="./assets/images/twitter-white.svg" alt="" class="icon">
        </div>
        <div class="icon--container">
          <img src="./assets/images/youtube-white.svg" alt="" class="icon">
        </div>
      </div>
    </div>
    <div class="sub-footer sub-footer--links">
      <div class="footer-links">
        <h3 class="links__title">Quick Links</h3>
        <ul class="link__names">
          <li><a href="">Portfolios</a></li>
          <li><a href="">Blogs</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Careers</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3 class="links__title">Services</h3>
        <ul class="link__names">
          <li><a href="">UI/UX Design</a></li>
          <li><a href="">App Development</a></li>
          <li><a href="">Web Development</a></li>
          <li><a href="">Quality Assurance</a></li>
          <li><a href="">MAchine Learning</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h3 class="links__title">Reach Us</h3>
        <ul class="link__names">
          <li>
            <div class="icon--container">
              <img src="./assets/images/Message-white.svg" alt="" class="icon">
            </div>
            hello@landify.co
          </li>
          <li>
            <div class="icon--container">
              <img src="./assets/images/Mobile-white.svg" alt="" class="icon">
            </div>
            +91 98765 43210
          </li>
          <li>
            <div class="icon--container">
              <img src="./assets/images/Location-white.svg" alt="" class="icon">
            </div>
            772 Lyonwood Ave Walnut, CA 91789
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>