<section class="hero-section">
  <div class="hero-wrapper container">
    <div class="intro-btn">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو و پیک</h2>
      <div class="hero__btns">
        <div class="intro-btn__passenger">
          <a href="#">
            <i class="bi bi-download"></i>
            <p>دانلود اپلیکیشن مسافران</p>
          </a>
        </div>
        <div class="intro-btn__passenger">
          <a href="#">
            <i class="bi bi-download"></i>
            <p>دانلود اپلیکیشن مسافران</p>
          </a>
        </div>
        <div class="intro-btn__passenger outlined">
          <a href="#">
            <i class="bi bi-download"></i>
            <p>دانلود اپلیکیشن مسافران</p>
          </a>
        </div>
        <div class="intro-btn__passenger outlined">
          <a href="#">
            <i class="bi bi-download"></i>
            <p>دانلود اپلیکیشن مسافران</p>
          </a>
        </div>
      </div>
    </div>
    <picture>
      <source srcset="https://tapsi.ir/images/home/mockup-phone.webp" type="image/webp" media="(min-width: 1024px)">
      <source srcset="https://tapsi.ir/images/home/mockup-phone.png" type="image/png" media="(min-width: 1024px)">
      <img alt="phone" class="banner-phone" aria-label="banner phone">
    </picture>
  </div>
</section>